In [1]:
import pandas as pd

In [2]:
df = pd.read_json('https://www.mohfw.gov.in/data/datanew.json')
df

,sno,state_name,active,positive,cured,death,new_active,new_positive,new_cured,new_death,state_code
0,2,Andaman and Nicobar Islands,23,4992,4907,62,24,4993,4907,62,35
1,1,Andhra Pradesh,1488,886694,878060,7146,1473,886852,878232,7147,28
2,3,Arunachal Pradesh,37,16817,16724,56,37,16818,16725,56,12
3,4,Assam,2482,216957,213398,1077,2407,216976,213492,1077,18
4,5,Bihar,2682,258513,254359,1472,2599,258638,254563,1476,10
5,6,Chandigarh,137,20664,20195,332,127,20686,20226,333,04
6,7,Chhattisgarh,5308,295949,287040,3601,5040,296326,287677,3609,22
7,8,Dadra and Nagar Haveli and Daman and Diu,10,3394,3382,2,10,3394,3382,2,26
8,10,Delhi,2060,633542,620693,10789,1880,633739,621060,10799,07
9,11,Goa,854,52782,51170,758,873,52867,51233,761,30
10,12,Gujarat,5240,258264,248650,4374,4960,258687,249352,4375,24
11,13,Haryana,1585,266939,262349,3005,1559,267075,262507,3009,06
12,14,Himachal Pradesh,516,57162,55676,970,469,57189,55749,971,02
13,15,Jammu and Kashmir,1098,123852,120826,1928,1103,123946,120914,1929,01
14,16,Jharkhand,978,118154,116116,1060,878,118232,116293,1061,20
15,17,Karnataka,7004,934576,915382,12190,7361,935478,915924,12193,29
16,18,Kerala,70624,877282,803094,3564,72278,884242,808377,3587,32
17,19,Ladakh,68,9673,9476,129,62,9675,9484,129,37
18,20,Lakshadweep,50,50,0,0,57,57,0,0,31
19,21,Madhya Pradesh,4479,253114,244855,3780,4310,253405,245309,3786,23
20,22,Maharashtra,46146,2003657,1906827,50684,45093,2006354,1910521,50740,27
21,23,Manipur,197,28953,28387,369,196,28970,28405,369,14
22,24,Meghalaya,128,13723,13449,146,122,13727,13459,146,17
23,25,Mizoram,58,4349,4282,9,58,4351,4284,9,15
24,26,Nagaland,104,12072,11880,88,104,12076,11884,88,13
25,27,Odisha,1360,334020,330757,1903,1284,334150,330962,1904,21
26,28,Puducherry,294,38794,37857,643,302,38830,37884,644,34
27,29,Punjab,2324,171522,163655,5543,2293,171733,163887,5553,03
28,30,Rajasthan,3719,316282,309807,2756,3448,316485,310279,2758,08
29,31,Sikkim,140,6063,5792,131,134,6068,5802,132,11
30,32,Tamil Nadu,5073,833585,816205,12307,4984,834171,816878,12309,33
31,34,Telengana,3569,293056,287899,1588,3389,293253,288275,1589,36
32,33,Tripura,34,33344,32919,391,35,33345,32919,391,16
33,35,Uttarakhand,1795,95464,92040,1629,1733,95586,92224,1629,05
34,36,Uttar Pradesh,7528,598126,581993,8605,7330,598445,582506,8609,09
35,37,West Bengal,6470,567304,550737,10097,6396,567714,551211,10107,19
36,11111,,185662,10639684,10300838,153184,184408,10654533,10316786,153339,